<p>
  <b>Sites category:</b>
  <%=h @friend_site.sites_category_id %>
</p>

<p>
  <b>Url:</b>
  <%=h @friend_site.url %>
</p>

<p>
  <b>Button url:</b>
  <%=h @friend_site.button_url %>
</p>

<p>
  <b>Description:</b>
  <%=h @friend_site.description %>
</p>

<p>
  <b>Admin email:</b>
  <%=h @friend_site.admin_email %>
</p>

<p>
  <b>Refered page:</b>
  <%=h @friend_site.refered_page %>
</p>

<p>
  <b>Is active:</b>
  <%=h @friend_site.is_active %>
</p>


<%= link_to 'Edit', edit_friend_site_path(@friend_site) %> |
<%= link_to 'Back', friend_sites_path %>
