<h1>Каталог интернет друзей и хороших ресурсов.</h1>
<ul>
  <% for sites_category in @sites_categories %>
    <li>
      <div><%= link_to h(sites_category.name), sites_category %></div>
      <div><%=h sites_category.description %></div>
      <% if is_admin? %>
      <div><%= link_to 'Edit', edit_sites_category_path(sites_category) %>
      <%= link_to('Destroy', sites_category, :confirm => 'Are you sure?', :method => :delete) if sites_category.friend_sites.empty? %></div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to('Новый раздел', new_sites_category_path) if is_admin? %>
