<h1>Listing friend_sites</h1>

<table>
  <tr>
    <th>Sites category</th>
    <th>Url</th>
    <th>Button url</th>
    <th>Description</th>
    <th>Admin email</th>
    <th>Refered page</th>
    <th>Is active</th>
  </tr>

<% for friend_site in @friend_sites %>
  <tr>
    <td><%=h friend_site.sites_category_id %></td>
    <td><%=h friend_site.url %></td>
    <td><%=h friend_site.button_url %></td>
    <td><%=h friend_site.description %></td>
    <td><%=h friend_site.admin_email %></td>
    <td><%=h friend_site.refered_page %></td>
    <td><%=h friend_site.is_active %></td>
    <td><%= link_to 'Show', friend_site %></td>
    <td><%= link_to 'Edit', edit_friend_site_path(friend_site) %></td>
    <td><%= link_to 'Destroy', friend_site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New friend_site', new_sites_category_friend_site_path(@category) %>
